.logo {
    width: 100px;
    height:50px;
    position: relative;
    left: 0px;
    top: -15px;
}

body {
    background: #f3f3f3;
}

.main {
    background: #fff;
    width: 750px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}