.index{
    list-style: none;
    padding-left: 0;
}

.index li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 12px 0;
}
.avatar-group {
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar{
    width:38px;
    height:38px;

}

.question-title {
    color: #269;
    font-weight: 850;
    padding-left: 45px;
}

.question-info {
    text-align: right;
}

.question-group .question-author{
    margin-right: 10px;
    color: #226699;
    font-weight: bold;
}